/*Note: be sure to include style.css before this as it imports fonts*/

    #footer {
        background-color: #AAA;
        
        width: 100%;
        
        margin: 0px;
        margin-top: 20px;

        padding-top: 10px;
        padding-bottom: 10px;
    }

    #footer h1 {
        margin: 0px;

        font-family: 'ethnocentric';

        text-align: center;
    }

    #footer p {
        margin: 0;

        font-family: 'ethnocentric';

        text-align: center;

        font-size: 15px;
    }

    .socialPanel {
        width: 390px;
        margin: auto;
    }

    .socialPanel p {
        font-size: 15px;
        font-family: 'ethnocentric';

        display: inline-block;

        vertical-align: middle;
    }

    .socialPanel .fa {
        padding: 10px;
        font-size: 25px;
        width: 25px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
        display: inline-block;
        margin: 3px;
    }
    
    /* Add a hover effect if you want */
    .socialPanel .fa:hover {
        opacity: 0.7;
    }

    /* Facebook */
    .fa-facebook {
        background: #3B5998;
        color: white;
    }
    
    /* Twitter */
    .fa-twitter {
        background: #55ACEE;
        color: white;
    }

    /* Google */
    .fa-google {
        background: #dd4b39;
        color: white;
    }

    .fa-linkedin {
        background: #007bb5;
        color: white;
    }