/* FONTS */
@font-face {
  font-family: ethnocentric;
  font-weight: 400;
  src: url("../fonts/ethnocentric_rg.otf") format("opentype");
}

/* VARS */
:root {
  --content-width: 85%;
}

  body {
    padding: 0px;
    margin: 0px;
      
    font-family: 'Roboto', sans-serif;
  }

  p {
    color: #222;
  }

  h2 {
    margin-top: 0px;
  }

  .content {
    width: var(--content-width);
    margin: auto;
  }

  .colorRed {
    color: #ff0000;
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
  }

  .col {
    width: 100%;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .col > h1{
    text-align: center;
  }

  .w-66 {
    width: 66.66666666666666666%;
  }

  .w-33 {
    width: 33.33333333333333333%;
  }

  .w-100 {
    width: 100%;
  }

  .hero {
    background-image: url("../images/NightCity.jpg");
    height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    display: table;
    width: 100%;
  }

  .heroCar {
    background-image: url("../images/aston-martin.jpg");
    height: 500px;
  }

  .heroFamousCases {
    background-image: url("../images/FamousCases.jpg");
  }

  .heroNewBeginings {
    background-image: url("../images/NewBeginings.jpg");
  }

  .heroBackgroundChecks {
    background-image: url("../images/BackGroundChecks.jpg");
  }

  .hero h1 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    color: white;

    font-family: 'ethnocentric';

    font-size: 3em;
  }

  .hero h2 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    color: white;
  }

  .aboutFounder {
    position: relative;
    top: 25%;
    left: 75%;
    transform: translate(-50%, -50%);
    font-size: 4em;
  }

  .aboutFounderSubtitle {
    position: relative;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    font-size: 2em;
  }

  .showcase {
    position: relative;
    width: 100%;
  }

  .showcase img {

    width: 75%;
    height: auto;
    display: block;
    margin: auto;

  }

  .showcase h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 0;
    margin: 0;

    font-size: 1.25em;
  }

  .review {
    padding: 40px;

    text-align: center;
  }

  .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .button {
    background-color: #AAA;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;

    font-family: 'ethnocentric';
  }
  