/* FONTS */
@font-face {
  font-family: ethnocentric;
  font-weight: 400;
  src: url("../fonts/ethnocentric_rg.otf") format("opentype");
}

/* VARS */
:root {
  --content-width: 75%;
}

  body {
    padding: 0px;
    margin: 0px;
      
    font-family: 'Roboto', sans-serif;
  }

  h2 {
    margin-top: 0px;
  }

  .content {
    width: var(--content-width);
    margin: auto;
  }

  .colorRed {
    color: #ff0000;
  }
  